<div class="main">

    <div class="container h-100 ">
      <div class="row h-100 justify-content-center align-items-center ">
        <form class="col-6 border">
          <div class="form-group">
            <label for="formGroupExampleInput">mail:</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Password:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Repeat Password:</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
          </div>
          <div class="form-group">
            <button type="button" name="button" class="btn btn-dark ">Submit</button>
          </div>
        </form>
      </div>
    </div>

  </div>








<router-outlet></router-outlet>
